<div id="payment">
  <h2>Pay with Credit/Debit Card</h2>
  <form id="payment-form">
    <div class="form-control credit-number">
      <label for="credit-number">Card Number</label>
      <input type="text" id="credit-number" name="credit-number" style="display:table-cell; width:62%">
    </div>
    <div class="form-control credit-expiry">
      <label for="credit-expiry">Expiration</label>
      <input type="text" id="credit-expiry" name="credit-expiry" style="display:table-cell; width:40%">
    </div>
    <div class="form-control credit-cvv">
      <label for="credit-cvv">CVV</label>
      <input type="text" id="credit-cvv" name="credit-cvv" style="display:table-cell; width:40%">
    </div>
    <button type="submit" class="btn form-submit">Submit</button>
  </form>
</div>
